*{
    background-color: thistle;
}
h1{
    color: cadetblue;
    text-align: center;
}

th{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.529);
}
td{
    color:#fffcf2;
    background:  rgba(0, 0, 0, 0.712);
}
.center{
    margin-right: auto ;
    margin-left: auto;
}